<div class="device-small {{device.status}} view-small" {{action 'onClick'}}>
    <div>
        <p class="device-small-name">{{device.name}}</p>
    </div>
    <div>
        <div class="device-alarm-summary">
            <p>{{device.guardCount}}</p>
            <p>/</p>
            <p>{{device.alarmCount}}</p>
        </div>
    </div>
</div>
