<div class="presence-detail {{presence.status}}">
    {{#if presence.hasPresence}}
        <div>
            <p class="topic-heading">{{presence.topic}}</p>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-2">Online Message</th>
                        <th class="col-md-2">Offline Message</th>
                        <th class="col-md-1">Status</th>
                        <th class="col-md-7">Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-md-2">{{presence.onlineMessage}}</td>
                        <td class="col-md-2">{{presence.offlineMessage}}</td>
                        <td class="col-md-1">
                            {{#if presence.isOk}}
                                <span class="glyphicon glyphicon-ok"></span>
                            {{else}}
                                <span class="glyphicon glyphicon-remove"></span>
                            {{/if}}
                        </td>
                        <td class="col-md-8">{{presence.message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {{else}}
        <div>
            <p>Device don't have presence intofmation.</p>
        </div>
    {{/if}}
</div>
