<div class="topic-detail {{topic.status}}">
    <p class="topic-heading">{{topic.topic}}</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Alarm</th>
                <th class="col-md-2">Criteria</th>
                <th class="col-md-1">Status</th>
                <th class="col-md-7">Message</th>
            </tr>
        </thead>
        <tbody>
            {{#each topic.alarms as |alarm|}}
                <tr class="view-row" {{action 'topicDetail' guard.topic alarm.name}}>
                    <td class="col-md-2">{{alarm.name}}</td>
                    <td class="col-md-2">{{alarm.criteria}}</td>
                    <td class="col-md-1">
                        {{#if alarm.isOk}}
                            <span class="glyphicon glyphicon-ok"></span>
                        {{else}}
                            <span class="glyphicon glyphicon-remove"></span>
                        {{/if}}
                    </td>
                    <td class="col-md-7">{{alarm.message}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
