<div>
    <h2>{{model.name}}</h2>
    <div class="broker-detail">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-2">Property</th>
                    <th class="col-md-10">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="col-md-2">Name</th>
                    <td class="col-md-10">{{model.name}}</td>
                </tr>
                <tr>
                    <th class="col-md-2">Host</th>
                    <td class="col-md-10">{{model.host}}</td>
                </tr>
                <tr>
                    <th class="col-md-2">Port</th>
                    <td class="col-md-10">{{model.port}}</td>
                </tr>
                <tr>
                    <th class="col-md-2">Public</th>
                    <td class="col-md-10">{{model.public}}</td>
                </tr>
                <tr>
                    <th class="col-md-2">Subscriptions</th>
                    <td class="col-md-10">{{model.subscriptions}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
