<h2>Devices</h2>
<div id="device-matrix">
    {{#if model.devices.length}}
        {{#each model.devices as |device|}}
            {{device-small device=device}}
        {{/each}}
    {{else}}
        <div class="no-data">
            <p>No devices available.</p>
        </div>
    {{/if}}
</div>
<h2>Brokers</h2>
<div id="broker-matrix">
    {{#if model.brokers.length}}
        {{#each model.brokers as |broker|}}
            {{broker-small broker=broker}}
        {{/each}}
    {{else}}
        <div class="no-data">
            <p>No brokers available.</p>
        </div>
    {{/if}}
</div>
<h2>Services</h2>
<div id="service-matrix">
    {{#if model.services.length}}
    {{else}}
        <div class="no-data">
            <p>No services available.</p>
        </div>
    {{/if}}
</div>
