<h2>Devices</h2>
<div class="matrix-view">
    {{#if model.devices.length}}
        {{#each model.devices as |device|}}
            {{device-small device=device onClick=(action 'deviceClicked')}}
        {{/each}}
    {{else}}
        <div class="no-data">
            <p>No devices available.</p>
        </div>
    {{/if}}
</div>
<h2>Brokers</h2>
<div class="matrix-view">
    {{#if model.brokers.length}}
        {{#each model.brokers as |broker|}}
            {{broker-small broker=broker onClick=(action 'brokerClicked')}}
        {{/each}}
    {{else}}
        <div class="no-data">
            <p>No brokers available.</p>
        </div>
    {{/if}}
</div>
<h2>Services</h2>
<div class="matrix-view">
    {{#if model.services.length}}
    {{else}}
        <div class="no-data">
            <p>No services available.</p>
        </div>
    {{/if}}
</div>
